<html>
  <body>
    <div style="text-align: center">
      <h1><a href="/">Test Capstone</a></h1>

      <div style="list-style: none">
        <p>
          <li><a href="/stream_page">Monitering</a></li>
        </p>
        <p>
          <li><a href="/setting">Setting</a></li>
        </p>
        <form action="/camera_post" method="post">
          <p>
            <button name="CameraOn" value="on">Camera On</button>
            <button name="CameraOff" value="off">Camera Off</button>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
