<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        background-image: url("https://i.pinimg.com/originals/2d/f0/57/2df057aee9050bc91a8be6ea79827bf5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>

  <body>
    <div style="text-align: center">
      <h1><a href="/">Baby Monitering</a></h1>

      <div style="list-style: none; top: 500px">
        <p>
          실시간 모니터링
          <li><a href="/stream_page">Monitering</a></li>
        </p>
        <p>
          설정
          <li><a href="/setting">Setting</a></li>
        </p>
        <form action="/camera_post" method="post">
          <p>
            <button name="CameraOn" value="on">Camera On</button>
            <button name="CameraOff" value="off">Camera Off</button>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
