<html>
  <body>
    <div style="text-align: center">
      <h1><a href="/">Test Capstone</a></h1>

      <div style="list-style: none">
        <form action="/setting" method="get">
          <p>
            <input type="checkbox" name="setting" value="1" checked />Setting 1
          </p>
          <p>
            <input type="checkbox" name="setting" value="2" checked />Setting 2
          </p>
          <p>
            <input type="checkbox" name="setting" value="3" checked />Setting 3
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
