<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monitering</title>
    <style>
      body {
        background-image: url("https://i.pinimg.com/originals/2d/f0/57/2df057aee9050bc91a8be6ea79827bf5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div style="text-align: center">
      <h1><a href="/">Baby Monitering</a></h1>
      <img src="{{url_for('stream')}}" />
    </div>
  </body>
</html>
